<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIAppFonts</key>
	<array>
		<string>Madera W01 ExtraBold.ttf</string>
		<string>Mada-SemiBold.ttf</string>
		<string>Mada-Regular.ttf</string>
		<string>Mada-Bold.ttf</string>
	</array>
</dict>
</plist>
